%flex-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
}

.container {
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-form {
    display: flex;
    flex-direction: row;
    h3 {
        text-align: center;
    }
    border-radius: 5px;
    width: 700px;
}
.surName {
    display: flex;
    flex-direction: row;
    & .input-name {
        width: 150px;
    }
    & .input-name:first-child {
        margin-right: 20px;
    }
}
.left-group {
    margin-top: 10px;
    margin-bottom: 20px;
    margin: 0 20px;

    & .input {
        width: 320px;
    }
    & .select {
        width: 320px;
    }
}
.right-group {
    @extend %flex-container;

    & .select-permission {
        width: 300px;
    }
}
.btn-submit {
    @extend %flex-container;
    align-items: center;
    & button {
        width: 150px;
    }
}
::ng-deep .mat-option .mat-pseudo-checkbox {
    display: none;
}
[hidden] {
display: none !important;
}