<div class="container">
    <div class="header">
        <h1 mat-dialog-title
            class="container-title"> {{ nameView }}
        </h1>
        <button mat-icon-button (click)="close()"><mat-icon svgIcon="removeIcon"></mat-icon></button>
    </div>
    <div mat-dialog-content
         class="user-form">
        <div class="left-group">

            <div class="surName">
                <mat-form-field class="input-name"
                                [formGroup]="formGroup">
                    <input matInput
                           formControlName="firstName"
                           placeholder="First name"
                           [(ngModel)]="requestUser.firstName">
                    <mat-error>{{ getErrorMessage('firstName') }}</mat-error>
                </mat-form-field>

                <mat-form-field class="input-name"
                                [formGroup]="formGroup">
                    <input matInput
                           formControlName="lastName"
                           placeholder="Last name"
                           [(ngModel)]="requestUser.lastName">
                    <mat-error>{{ getErrorMessage('lastName') }}</mat-error>
                </mat-form-field>
            </div>

            <mat-form-field class="input"
                            [formGroup]="formGroup">
                <input matInput
                       formControlName="email"
                       placeholder="Email"
                       [(ngModel)]="requestUser.email">
                <mat-error>{{ getErrorMessage('email') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="input"
                            [formGroup]="formGroup">
                <input matInput
                       formControlName="phoneNumber"
                       placeholder="Phone number"
                       [(ngModel)]="requestUser.phoneNumber">
                <mat-error>{{ getErrorMessage('phoneNumber') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="input"
                            [formGroup]="formGroup">
                <input matInput
                       formControlName="password"
                       placeholder="Password"
                       [(ngModel)]="requestUser.password">
                <mat-error>{{ getErrorMessage('password') }}</mat-error>
            </mat-form-field>

            <mat-form-field class="select"
                            [formGroup]="formGroup">
                <mat-select formControlName="role"
                            placeholder="Role"
                            [(ngModel)]="requestUser.role"
                            name="item">
                    <mat-option *ngFor="let item of roles; let i = index"
                                [value]="i" [hidden]="isPermissionForRoleInput(i)">
                        {{item}}
                    </mat-option>
                </mat-select>
                <mat-error>{{ getErrorMessage('role') }}</mat-error>
            </mat-form-field>

        </div>

        <div class="right-group">

            <mat-form-field class="select-permission">
                <mat-label>Main Screen permission:</mat-label>
                <mat-select [ngModel]="mainScreen"
                            (ngModelChange)="eventSelection($event, PagePermission.mainScreen)"
                            multiple>
                    <mat-option *ngFor="let permission of permissions; let i = index"
                                [value]="permissions[i]">{{ permission | toUpper }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Admin Screen permission:</mat-label>
                <mat-select [ngModel]="adminScreen"
                            (ngModelChange)="eventSelection($event, PagePermission.adminScreen)"
                            multiple>
                    <mat-option *ngFor="let permission of permissions; let i = index"
                                [value]="permissions[i]">{{ permission | toUpper }}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Logs Screen permission:</mat-label>
                <mat-select [ngModel]="logsScreen"
                            (ngModelChange)="eventSelection($event, PagePermission.logsScreen)"
                            multiple>
                    <mat-option *ngFor="let permission of permissions; let i = index"
                                [value]="permissions[i]">{{ permission | toUpper }}</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>

    <div class="btn-submit">
        <button mat-raised-button color="primary" (click)="invokeAction(action)">{{ setUpperCase(action) }}</button>
    </div>

</div>