.container {
    margin: 50px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    // justify-items: center;
}
.user-form {
    display: flex;
    flex-direction: column;
    h3 {
        text-align: center;
    }
    border-radius: 5px;
    width: 500px;
}
.user-table-container {
    margin: 0 50px;
    width: 100%
}
.user-table {
    width: 100%;
}
.paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



tr.detail-row {
    height: 0;
}
  
tr.item-row:not(.expanded-row):hover {
    background: #777;
}
  
tr.item-row:not(.expanded-row):active {
    background: #efefef;
}

.item-row td {
    border-bottom-width: 0;
}

.item-detail {
    overflow: hidden;
    display: flex;
}

.item-detail-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    justify-content: space-between;
    height: 100px;
    .btn-group {
        // margin-left: 50px;
    }
}
.list {
    list-style-type: none;
}
.icon {
    padding-right: 20px;
}
.create-btn {
    float: right;
    margin-bottom: 10px;
}