<div class="container">

    <div class="user-table-container">
        <button class="create-btn" mat-raised-button [disabled]="isPermissionAccess('Create')" (click)="openDialog(null, null)"><mat-icon svgIcon="createIcon"></mat-icon>Create</button>
        <table mat-table
               [dataSource]="responseGetUsers.items"
               multiTemplateDataRows
               class="mat-elevation-z2 user-table">
            <ng-container *ngFor="let model of usersColumnsNames"
                          matColumnDef="{{model.name}}">
                <th mat-header-cell
                    *matHeaderCellDef> {{model.viewName}} </th>
                <td mat-cell
                    *matCellDef="let element">
                    {{model.name === 'role' ? UserRoles[element[model.name]] : element[model.name]}} </td>
            </ng-container>
            <ng-container matColumnDef="icons">
                <th mat-header-cell
                    *matHeaderCellDef>
                </th>
                <td mat-cell
                    *matCellDef="let element"
                    align="end">
                    <button mat-icon-button [disabled]="isPermissionAccess('Edit', element.role)" (click)="openDialog('Change', element)"><mat-icon svgIcon="changeIcon"></mat-icon></button>
                    <button mat-icon-button [disabled]="isPermissionAccess('Remove', element.role)" ><mat-icon svgIcon="removeIcon"></mat-icon></button>
                </td>
            </ng-container>
            <tr mat-header-row
                *matHeaderRowDef="usersDisplayColumnsNames"></tr>
            <tr mat-row
                *matRowDef="let row; columns: usersDisplayColumnsNames;"></tr>
        </table>

        <mat-paginator class="paginator mat-elevation-z2"
                       [length]="responseGetUsers.totalCount"
                       [pageSize]="requestGetUsers.from"
                       [pageSizeOptions]="[5, 10]"
                       (page)="changePage($event)">
        </mat-paginator>
    </div>
</div>